@import "tailwindcss";
:root{
    --blue_color:#001948;
    --yellow_color: #DFA408;
    font-family:"Quicksand", sans-serif ;
}

*{
    font-family: "Quicksand"
}

p{
    font-family: Arial, Helvetica, sans-serif
}